# Spark
derby.log
metastore_db

# vs code settings
.vscode/*

# data
notebooks/*
warehouse/*

# logs
log/*
dbt/**/logs
dbt/**/dbt_packages
dbt/**/target

# conf
conf/**/*.jks
conf/**/*.crt

# python
.venv
**/__pycache__
