# Spark
derby.log
metastore_db

# vs code settings
.vscode/*

# data
notebooks/*
warehouse/*

# logs
logs/*
dbt_iceberg/**/logs
dbt_iceberg/**/dbt_packages
dbt_iceberg/**/target

# conf
conf/**/*.jks
conf/**/*.crt

# python
.venv
venv
**/__pycache__
