# Spark
derby.log
metastore_db

# vs code settings
.vscode/*

# examples
examples/notebooks/.ipynb_checkpoints
examples/notebooks/spark-warehouse/*
examples/scripts/spark-warehouse/*

# logs
logs/*

# conf
conf/**/*.jks
conf/**/*.crt

# python
.venv
venv
**/__pycache__
